@model BCMS.Models.VisitorData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VisitorData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnterpriseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnterpriseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
